nav {
    background-color: $white;
}
.logo {
    font-family: $lato;
    font-weight: $lato-weight-bold;
    font-size: $font-size-xxx-large;
}
.logo2 {
    font-family: $lato;
    font-weight: $lato-weight-regular;
    font-size: $font-size-x-small;
}
